* {
    font-family: 'Roboto', sans-serif; 
}
.nav {
    background-color:rgb(60, 60, 60);
    justify-content: space-between;
    display: flex;
    padding: 1px;
}
a {
    color: white;
    text-decoration: none;
}
ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
li {
    padding: 5px;
    margin: 0px 5px 0px 5px;
}
.btn {
    width: 90px;
    background-color: turquoise;
    border: 2px solid black;
    box-shadow: 4px 4px black;
    padding: 4px;
}
